@model ProductDTO
                    <div id="topUpModalContent">
                        <div class="row">
                            <div class="col-md-4 text-start">
                                <label for="mahh" class="col-form-label">Product Id:</label>
                                <input type="text" class="form-control" asp-for="Id" id="pid" readonly>
                                <input asp-for="CreateOn" hidden/>
                                <input asp-for="ApproveBy" hidden/>
                                <input asp-for="ApproveDate" hidden/>
                                <input asp-for="ReportTime" hidden/>
                                <input asp-for="Status" hidden/>
                                <input asp-for="StudentId" hidden/>
                                <input asp-for="Rate" hidden/>
                                <input asp-for="ImgKey" hidden/>
                            </div>
                            <div class="col-md-4 text-start">
                                <label for="dgb" class="col-form-label">Product Name:</label>
                                <input type="text" class="form-control" asp-for="Name" id="pname">
                            </div>
                            <div class="col-md-4 text-start">
                                <label for="quantity" class="col-form-label">Quantity:</label>
                                <input type="text" class="form-control" asp-for="Quantity" id="quantity">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-start">
                                <label for="title" class="col-form-label">Title:</label>
                                <input type="text" class="form-control" asp-for="Title" id="title">
                            </div>
                            <div class="col-md-8 text-start">
                                <label for="content" class="col-form-label">Content:</label>
                                <input type="text" class="form-control" asp-for="ContentPost" id="content">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-start">
                                <label for="price" class="col-form-label">Price:</label>
                                <input type="text" class="form-control" asp-for="Price" id="price">
                            </div>
                            <div class="col-md-4 text-start">

                                <label for="cateId" class="col-form-label">Category Id:</label>
                                @Html.DropDownListFor(model => model.CategoryId, new SelectList(new[] {
                                new { Value = 1, Text = "Cate1" },
                                new { Value = 2, Text = "Cate2" },
                                new { Value = 1002, Text = "Cate3" }
                                }, "Value", "Text"), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 text-start">
                                <label for="imgE" class="col-form-label">Image Path:</label>
                                <input type="file" class="form-control" id="imgE" name="img" />
                            </div>
                        </div>
                    </div>
<script>
    const editField = document.getElementById("imgE");
    editField.onchange = function () {
        if (this.files[0].size > 5242880) { // 5 MB in bytes
            alert("File is too big! Please select a smaller file.");
            this.value = ""; // Clear the input field
        }
    };
</script>